@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: rgb(34, 34, 34);
  --main-font-color: rgb(86, 161, 112);
  /* background-color: var(--main-bg-color);
  color: var(--main-font-color); */
}

body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 123, 0, 0.161), black 180%);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: rgb(149, 255, 170);
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 2px var(--main-font-color), 0 0 5px var(--main-font-color);
}

pre {
  font: 1.3rem Inconsolata, monospace;
}
